body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.top-banner h1 {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-banner p {
    font-size: 20px;
}

.donate-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato, orange);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 700;
}

.donation-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donation-container h1 {
    font-size: 45px;
}

.donation-container p {
    font-size: 18px;
    color: darkgray;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.donation-amount {
    margin-right: 20px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 50px;
}

#highlighted-amount {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid #FF5959;
}

#donation-input {
    width: 41%;
    border: 0px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.donation-plan {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donation-plan h1 {
    font-size: 45px;
}

.donation-plan p {
    font-size: 18px;
    color: #707070;
}

#planning {
    margin-bottom: 50px;
}

.donation-wings {
    width: 360px;
    height: 360px;
    /* background-color: #FF5959; */
    border-radius: 10px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
    margin-right: 40px;
    box-shadow: 20px 20px 20px lightgrey;
}

#food-wing {
    background-color: rgb(203, 230, 247);
}

#shelter-wing {
    background-color: rgb(253, 206, 213);
}

#education-wing {
    background-color: lightgoldenrodyellow;
}

footer {
    background-color: black;
    margin: 0;
    height: 120px;
    text-align: center;
    padding-top: 30px;
}

footer h2 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
}

footer p {
    color: lightgray;
}